body{
   
    background-image:url("./img/black-wall.jpg");       
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

form{
background-color: white;
    border: 5px solid black;
    width: 300px;
    margin-left: 40%;
    margin-top: 10%;
}
form input{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}
form label{
    font-weight: bold;
    font-size: 20px;
}
form p{
    font-weight: bold;
    font-size: 19px;
}
form a{
    text-decoration: none;
    color: rgb(253, 0, 0);
    font-weight: bold;
    font-size: 25px;
}
form span{
    color: red;
    font-weight: bold;
    
}
